@B: ~'@{namespace}-icon';

.@{B} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: inherit;
  color: inherit;
  fill: currentColor;

  svg {
    width: 1em;
    height: 1em;
  }
}
